@import 'vars'

.button
  background: $primary-color
  color: #fff
  display: inline-block
  user-select: none
  cursor: pointer
  border: 1px solid $primary-color-dark
  padding: 4px 8px
  border-radius: 2px
  transition: all .2s ease-in-out
  margin: $margin1
  
  &:disabled
    opacity: .3