@import 'vars'

.button
  border: 1px solid $primary-color
  background: transparent
  color: #fff
  display: inline-block
  user-select: none
  cursor: pointer
  border: 1px solid $primary-color-dark
  padding: $margin1 $margin2
  border-radius: 2px
  transition: all .2s ease-in-out
  margin: $margin1
  letter-spacing: 1.2px
  
  &:disabled
    opacity: .3