@import 'vars'

.home-page
  text-align: center

  .games-container
      display: flex
      width: 100%
      justify-content: space-around

      .game-info
        flex: 0 1 40%
        padding: 0 60px 60px
        background: rgba(0,0,0,0.5)
        margin: 0 30px 30px
  
  @media screen and (max-width: $break-small)
    .games-container
      flex-direction: column