@import 'vars'

.game
  position: fixed
  width: 100%
  height: calc(100% - 42px)
  bottom: 0
  left: 0
  .renderer
    overflow: hidden
    width: 100%
    height: 100%

@media #{$portrait}
  .game
    bottom: 81px
    height: calc(100vh - 234px)