@import 'vars'

.dices
  position: absolute
  z-index: 50
  width: 200px
  height: 75px
  background: rgba(0, 0, 0, 0.2)
  padding: 10px
  left: -200px
  top: 98px
  text-align: center
  pointer-events: none
  transition: all ease-in-out .2s
  border-radius: $border-radius
  svg
    height: 100%
    width: auto
    path
      fill: #848484
  &--visible
    left: 6px
  &--active
    cursor: pointer
    pointer-events: all
    border: 2px solid rgba(255,255,255,0.7)
    svg path
      fill: #fff

@media #{$portrait}
  .dices
    top: auto
    bottom: -100px
    left: 6px
    right: 6px
    width: auto
    &--visible
      bottom: 6px