header
  position: fixed
  z-index: 100
  width: 100%
  background: rgba(86,114,124,1)
  display: flex
  justify-content: space-between
  padding: 8px 0

  .left-pane, .right-pane
    display: flex
    align-items: center

  a
    color: #D9E9EF
    margin: 8px
