header
  position: fixed
  z-index: 100
  top: 0
  left: 0
  width: 100%
  background: rgba(86,114,124,1)
  display: flex
  justify-content: space-between
  padding: 8px 0

  .left-pane, .right-pane
    display: flex
    align-items: center

  a
    color: #D9E9EF
    margin: 8px

  .profile
    position: fixed
    top: 8px
    right: 0px

.inGame header
  top: -52px