@import 'vars'

.progress
  display: block
  width: 0%
  height: 100%
  background-image: linear-gradient(45deg, #ffffff30, #ffffffcc)
  position: absolute
  bottom: 0px
  left: 0px

.player-profiles
    position: absolute
    width: 100%
    height: 100%
    top: 50%
    transform: translateY(-50%)
    left: 0
    pointer-events: none
    z-index: 100
    overflow: hidden

    .player
      width: 100%
      max-width: 200px
      position: absolute
      transition: all ease-in-out .2s
      display: flex

      .player-name
        position: relative
        background: rgba(0,0,0,0.2)
        padding: 6px 32px 6px 18px
        width: 100%
        max-width: 200px
        color: #fff
        font-size: 22px
        user-select: none
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        border-radius: $border-radius

        .arrow
          position: absolute
          right: 12px
          top: 50%

      .player-progress
        position: absolute
        width: 0%
        background: #fff
        left: 0
        bottom: 0
      img
        height: 39px
        width: 39px
        user-select: none
    .player-0
      top: 52px
    .player-1
      top: 52px
      transition-delay: .1s
    .player-2
      bottom: 52px
      transition-delay: .2s
    .player-3
      bottom: 52px
      transition-delay: .3s
    .player-0, .player-3
      flex-direction: row-reverse
      left: 6px
      .player-name
        border-right: 4px solid

      &.player--hidden
        left: -200px
    .player-1, .player-2
      right: 6px
      .player-name
        padding: 6px 18px 6px 32px
        border-left: 4px solid
        .arrow
          transform: translateY(-50%) rotate(-45deg)
        .progress
          left: auto
          right: 0px
          background-image: linear-gradient(135deg, #ffffffcc, #ffffff30)
      &.player--hidden
        right: -200px
    .player-1 .player-name, .player-2 .player-name
      text-align: right
      .arrow
        right: auto
        left: 12px
    .player--disconnected
      opacity: 0.5

.landscape
  .player-profiles
    .player-1, .player-2
      left: 6px
      bottom: auto
      flex-direction: row-reverse
      .player-name
        border-left: 0
        border-right: 4px solid
        padding: 6px 32px 6px 18px
        text-align: left
        .arrow
          transform: translateY(-50%) rotate(135deg)
          right: 12px
          left: auto
      &.player--hidden
        left: -100%

    .player-0, .player-3
      &.player--hidden
        left: -100%

    .player-1
      top: 98px
    .player-2
      top: 144px
    .player-3
      top: 190px
      bottom: auto

.portrait
  .player-profiles
    .player
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      max-width: calc(50% - 12px)
      .player-name
        max-width: none
    .player-2, .player-3
      top: 104px
      bottom: auto
    .player-2
      transition-delay: .2s
    .player-3
      transition-delay: .3s

    .player-0, .player-3
      &.player--hidden
        left: -50%

    .player-1, .player-2
      &.player--hidden
        right: -50%