.ludo
  user-select: none

  .player
    display: flex

    .player-name
      padding: 6px 20px
      min-width: 150px
      color: #fff
      font-size: 22px
      user-select: none
      background: rgba(0,0,0,0.2)
    .player-progress
      height: 2px
      position: absolute
      width: 0%
      background: #fff
      left: 0
      bottom: 0
    img
      height: 39px
      width: 39px

  .player-profiles
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    pointer-events: none

    .player
      position: absolute
      transition: all ease-in-out .2s
      .player-name
        position: absolute
        left: 100%
        padding: 6px 20px
        min-width: 150px
        color: #fff
        font-size: 22px
        user-select: none
        .arrow
          position: absolute
          right: 12px
          top: 50%
    .player-0
      top: 10px
    .player-1
      top: 10px
      transition-delay: .1s
    .player-2
      bottom: 10px
      transition-delay: .2s
    .player-3
      bottom: 10px
      transition-delay: .3s
    .player-0, .player-2
      left: 10px
      &.player--hidden
        left: -200px
    .player-1, .player-3
      right: 10px
      &.player--hidden
        right: -200px
    .player-1 .player-name, .player-3 .player-name
      right: 100%
      left: auto
      text-align: right
      .arrow
        right: auto
        left: 12px
    .player--disconnected
      opacity: 0.5
      

  .colors-container
    display: flex
    justify-content: space-between

    .color
      width: 32px
      height: 32px
      border: 1px solid rgba(0,0,0,.2)
      border-radius: 2px
      cursor: pointer
      &.selected
        opacity: .2
  .modal
    .player
      margin-bottom: 20px