.ludo
  .colors-container
    display: flex
    justify-content: space-between

    .color
      width: 32px
      height: 32px
      border: 1px solid rgba(0,0,0,.2)
      border-radius: 2px
      cursor: pointer
      &.selected
        opacity: .2