.modal
  position: fixed
  z-index: 1000
  width: 100%
  height: 100%
  top: 0
  left: 0
  text-align: center

  .modal-body
    position: absolute
    width: 240px
    height: 120px
    background: white
    z-index: 10
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    border-radius: 4px
    padding: 10px 20px
    &.modal-enter
      top: 0
    &.modal-enter.modal-enter-active
      top: 50%
    &.modal-leave
      top: 50%
    &.modal-leave.modal-leave-active
      top: 0

  .overlay
    position: absolute
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.7)
    z-index: 0

  .modal-enter
    opacity: 0.01

  .modal-enter.modal-enter-active
    opacity: 1
    transition: opacity 300ms ease-in, top 300ms ease-in

  .modal-leave
    opacity: 1

    .modal-body
      top: 50%

  .modal-leave.modal-leave-active
    opacity: 0.01
    transition: opacity 200ms ease-in, top 300ms ease-in