.connector
  position: fixed
  width: 100%
  height: 100%
  top: 0
  
  .console
    position: fixed
    width: 100%
    height: 30%
    top: 70%
    left: 0
    background: red
    z-index: 10000
    border: 4px solid #bbb
    background-color: #bbb
    font-family: 'Roboto Mono', monospace
    opacity: .7
  
    .console-title
      font-weight: 600
      color: #222
  
    .console-wrapper
      position: relative
      overflow: hidden
      height: calc(100% - 24px)
      width: 100%
      background-color: #222
  
      .console-messages
        position: absolute
        width: 100%
        bottom: 0
        height: auto
        color: #fff
        font-size: 14px
        padding: 4px 2px
  
        div
          padding: 2px 8px
  
          &::before
            content: '> '
            
  .offline
    position: absolute
    bottom: 20px
    left: 50%
    transform: translateX(-50%)
    border: 2px solid red
    color: red
    padding: 8px 20px
    border-radius: 4px
    font-weight: 500